.box{
  width:200px;
  padding: 20px;
  background-color:lightblue;
  text-align: center;
}

.property-example {
  transition-property: background-color, width;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function:ease-in-out;
}
.property-example:hover{
  background: lightcoral;
  width: 300px;
}

/*
Format -> transition: [property] [duration] [timing-function] [delay];
*/
.shorthand-example{
  transition: background-color 1s ease-in-out 0.5s, width 2s ease-in ;
}

.shorthand-example:hover{
  background-color: lightgreen;
  width: 300px;
}
