.flex-container{
  display: flex;
  padding: 10px;
  background-color: lightgrey;
  margin-bottom: 20px;
  border: 2px solid black;
  gap: 10px;
}

.flex-item{
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  border:  1px solid grey;
  width: 150px;
  height: 100px;
}

.wrap-row{
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

.wrap-column{
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}

.flex-shorthand{
  /* 
  shorthand untuk property flex 
  menggunakan flex-flow
  format:
  flex-flow: flex-direction flex-wrap;
  */
  flex-flow: row wrap ;
  max-width: 600px;
}
