.responsive-image-section{
  margin-bottom: 40px;
}

img{
  max-width:100%;
  height: auto;;
}

.background-container{
  border: 2px solid #333;
  height: 300px;
  background-image: url("images/medium.jpg");
  background-size: cover;
  background-position: bottom left;
}

.background-repeat-container{
  background-image: url("images/pattern.png");
  height: 300px;
  border: 2px solid #333;
  background-repeat: repeat-y ;
  background-position: center;
}
