body{
    background-color: lightyellow;;
}

.container{
  padding: 20px;
  background-color: lightgrey;
  margin-bottom: 30px;
}

.content{
  background-color: lightblue;
  padding: 10px;  
}

.min-width{
  min-width: 300px;
  display: inline-block;
}

.max-width{
  max-width: 400px;
}

.min-height{
  min-height: 300px;
}

.max-height{
  max-height: 150px;
}