p{
  font-size: 20px;
}

#red-para{
  color: red;
}

.blue-bg{
  background-color: skyblue;
}

.yellow-bg{
  background-color: yellow;
}

.red-text{
  color: red;
}

* {
  text-align: center;
  color: blue;
}
